<a href="https://colab.research.google.com/github/Misudhari/Applied-Data-Science-with-Python/blob/main/Merging_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course loason'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')

In [ ]:
staff_df.head()

                 Role
Name
Kelly  Director of HR
Sally   Course loason
James          Grader

In [ ]:
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
student_df.head()

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [ ]:
pd.merge(staff_df, student_df, how = 'outer', left_index = True, right_index = True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally   Course loason  Engineering

In [ ]:
pd.merge(staff_df, student_df, how = 'inner', left_index = True, right_index = True)

                Role       School
Name
Sally  Course loason  Engineering
James         Grader     Business

In [ ]:
pd.merge(staff_df, student_df, how = 'left', left_index = True, right_index = True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally   Course loason  Engineering
James          Grader     Business

In [ ]:
pd.merge(staff_df, student_df, how = 'right', left_index = True, right_index = True)

                Role       School
Name
James         Grader     Business
Mike             NaN          Law
Sally  Course loason  Engineering

In [ ]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()

In [14]:
pd.merge(staff_df, student_df, how = 'right', on = 'Name')

    Name           Role       School
0  James         Grader     Business
1   Mike            NaN          Law
2  Sally  Course loason  Engineering