<a href="https://colab.research.google.com/github/Misudhari/Applied-Data-Science-with-Python/blob/main/Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 2 Major types of Missing Data
1. Missing at Random
2. Missing Completely at random

In [ ]:
import pandas as pd

In [7]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/class grades.csv', on_bad_lines='skip')
df.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89
5       7       95.00     92.58    93.12     97.78  68.06
6       8       95.05    102.99    56.25     99.07  50.00
7       7       72.85     86.85    60.00       NaN  56.11
8       8       84.26     93.10    47.50     18.52  50.83
9       7       90.10     97.55    51.25     88.89  63.61

In [11]:
mask = df.isnull()
mask.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0   False       False     False    False     False  False
1   False       False     False    False     False  False
2   False       False     False    False     False  False
3   False       False     False    False     False  False
4   False       False     False    False     False  False
5   False       False     False    False     False  False
6   False       False     False    False     False  False
7   False       False     False    False      True  False
8   False       False     False    False     False  False
9   False       False     False    False     False  False

In [12]:
df.dropna().head(10)

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
5        7       95.00     92.58    93.12     97.78  68.06
6        8       95.05    102.99    56.25     99.07  50.00
8        8       84.26     93.10    47.50     18.52  50.83
9        7       90.10     97.55    51.25     88.89  63.61
10       7       80.44     90.20    75.00     91.48  39.72

In [14]:
df.fillna(0, inplace =True)
df.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89
5       7       95.00     92.58    93.12     97.78  68.06
6       8       95.05    102.99    56.25     99.07  50.00
7       7       72.85     86.85    60.00      0.00  56.11
8       8       84.26     93.10    47.50     18.52  50.83
9       7       90.10     97.55    51.25     88.89  63.61

In [23]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/log.csv')
df.head(20)

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN

#2 Common methods to fill the data
1. ffill - forward filling
2. bfill - backward filling

In [20]:
df = df.set_index('time')
df = df.sort_index()
df.head(20)

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN

In [25]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

                   index          video  playback position paused  volume
time       user
1469974424 cheryl      0     intro.html                  5  False    10.0
1469974454 cheryl      1     intro.html                  6    NaN     NaN
1469974544 cheryl      2     intro.html                  9    NaN     NaN
1469974574 cheryl      3     intro.html                 10    NaN     NaN
1469977514 bob         4     intro.html                  1    NaN     NaN
1469977544 bob         5     intro.html                  1    NaN     NaN
1469977574 bob         6     intro.html                  1    NaN     NaN
1469977604 bob         7     intro.html                  1    NaN     NaN
1469974604 cheryl      8     intro.html                 11    NaN     NaN
1469974694 cheryl      9     intro.html                 14    NaN     NaN
1469974724 cheryl     10     intro.html                 15    NaN     NaN
1469974454 sue        11  advanced.html                 24    NaN     NaN
1469974524 sue        12  advanced.html                 25    NaN     NaN
1469974424 sue        13  advanced.html                 23  False    10.0
1469974554 sue        14  advanced.html                 26    NaN     NaN
1469974624 sue        15  advanced.html                 27    NaN     NaN
1469974654 sue        16  advanced.html                 28    NaN     5.0
1469974724 sue        17  advanced.html                 29    NaN     NaN
1469974484 cheryl     18     intro.html                  7    NaN     NaN
1469974514 cheryl     19     intro.html                  8    NaN     NaN
1469974754 sue        20  advanced.html                 30    NaN     NaN
1469974824 sue        21  advanced.html                 31    NaN     NaN
1469974854 sue        22  advanced.html                 32    NaN     NaN
1469974924 sue        23  advanced.html                 33    NaN     NaN
1469977424 bob        24     intro.html                  1   True    10.0
1469977454 bob        25     intro.html                  1    NaN     NaN
1469977484 bob        26     intro.html                  1    NaN     NaN
1469977634 bob        27     intro.html                  1    NaN     NaN
1469977664 bob        28     intro.html                  1    NaN     NaN
1469974634 cheryl     29     intro.html                 12    NaN     NaN
1469974664 cheryl     30     intro.html                 13    NaN     NaN
1469977694 bob        31     intro.html                  1    NaN     NaN
1469977724 bob        32     intro.html                  1    NaN     NaN

In [26]:
df = df.fillna(method = 'ffill')
df.head()

                   index       video  playback position  paused  volume
time       user
1469974424 cheryl      0  intro.html                  5   False    10.0
1469974454 cheryl      1  intro.html                  6   False    10.0
1469974544 cheryl      2  intro.html                  9   False    10.0
1469974574 cheryl      3  intro.html                 10   False    10.0
1469977514 bob         4  intro.html                  1   False    10.0

In [27]:
df = pd.DataFrame({'A' : [1, 1, 2, 3, 4],
                   'B' : [3, 6, 3, 8, 9],
                   'C' : ['a', 'b', 'c', 'd', 'e']})
df

   A  B  C
0  1  3  a
1  1  6  b
2  2  3  c
3  3  8  d
4  4  9  e

In [28]:
df.replace(1,100)

     A  B  C
0  100  3  a
1  100  6  b
2    2  3  c
3    3  8  d
4    4  9  e

In [30]:
df.replace([1,3], [100,300])

     A    B  C
0  100  300  a
1  100    6  b
2    2  300  c
3  300    8  d
4    4    9  e

In [31]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/log.csv')
df.head(20)

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN

In [32]:
df.replace(to_replace=".*.html$", value = "Webpage", regex = True)

          time    user    video  playback position paused  volume
0   1469974424  cheryl  Webpage                  5  False    10.0
1   1469974454  cheryl  Webpage                  6    NaN     NaN
2   1469974544  cheryl  Webpage                  9    NaN     NaN
3   1469974574  cheryl  Webpage                 10    NaN     NaN
4   1469977514     bob  Webpage                  1    NaN     NaN
5   1469977544     bob  Webpage                  1    NaN     NaN
6   1469977574     bob  Webpage                  1    NaN     NaN
7   1469977604     bob  Webpage                  1    NaN     NaN
8   1469974604  cheryl  Webpage                 11    NaN     NaN
9   1469974694  cheryl  Webpage                 14    NaN     NaN
10  1469974724  cheryl  Webpage                 15    NaN     NaN
11  1469974454     sue  Webpage                 24    NaN     NaN
12  1469974524     sue  Webpage                 25    NaN     NaN
13  1469974424     sue  Webpage                 23  False    10.0
14  1469974554     sue  Webpage                 26    NaN     NaN
15  1469974624     sue  Webpage                 27    NaN     NaN
16  1469974654     sue  Webpage                 28    NaN     5.0
17  1469974724     sue  Webpage                 29    NaN     NaN
18  1469974484  cheryl  Webpage                  7    NaN     NaN
19  1469974514  cheryl  Webpage                  8    NaN     NaN
20  1469974754     sue  Webpage                 30    NaN     NaN
21  1469974824     sue  Webpage                 31    NaN     NaN
22  1469974854     sue  Webpage                 32    NaN     NaN
23  1469974924     sue  Webpage                 33    NaN     NaN
24  1469977424     bob  Webpage                  1   True    10.0
25  1469977454     bob  Webpage                  1    NaN     NaN
26  1469977484     bob  Webpage                  1    NaN     NaN
27  1469977634     bob  Webpage                  1    NaN     NaN
28  1469977664     bob  Webpage                  1    NaN     NaN
29  1469974634  cheryl  Webpage                 12    NaN     NaN
30  1469974664  cheryl  Webpage                 13    NaN     NaN
31  1469977694     bob  Webpage                  1    NaN     NaN
32  1469977724     bob  Webpage                  1    NaN     NaN