<a href="https://colab.research.google.com/github/Misudhari/Applied-Data-Science-with-Python/blob/main/Series_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<center>Series<center>

In [ ]:
import pandas as pd

In [ ]:
students = ['Alice', 'Jack', 'Molly']

pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [ ]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [ ]:
students = ['Alice', 'Jack', None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [ ]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [ ]:
import numpy as np
np.nan == None

False

In [ ]:
np.nan == np.nan

False

In [ ]:
np.isnan(np.nan)

True

In [ ]:
students_scores = {
    'Alice' : 'Physics',
    'jack'  : 'Chemistry',
    'Molly' : 'English'
}

s = pd.Series(students_scores)
s

Alice      Physics
jack     Chemistry
Molly      English
dtype: object

In [ ]:
s.index

Index(['Alice', 'jack', 'Molly'], dtype='object')

In [ ]:
students = [("Alice","Brown"), ("Jack","White"), ("Molly","Green")]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [ ]:
s = pd.Series(['Physics', 'Chemistry', 'English'], index = ['Alice', 'Jack', 'Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [ ]:
students_scores = {
    'Alice' : 'Physics',
    'Jack'  : 'Chemistry',
    'Molly' : 'English'
}

s = pd.Series(students_scores, index = ['Alice', 'Molly', 'Sam'])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object

#<center>Querying a Series<center>

In [ ]:
import pandas as pd
students_classes = {
    'Alice' : 'Physics',
    'Jack'  : 'Chemistry',
    'Molly' : 'English',
    'Sam'   : 'History'
}

s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [ ]:
s.iloc[3] #iloc attribute helps to get a specific position in a Series structure

'History'

In [ ]:
s.loc['Molly']  #loc attribute helps to get a specific index position or index label

'English'

In [ ]:
s[3]  # Similar to s.iloc[3]

'History'

In [ ]:
s['Molly']  #Similar to s.loc['Molly']

'English'

In [ ]:
class_code = {
    99:'Physics',
    100:'chemistry',
    101:'English',
    102:'History'
}
s=pd.Series(class_code)
s[0]

KeyError: ignored

In [ ]:
s.iloc[0]

'Physics'

In [ ]:
grades = pd.Series([90,80,70,60])

total = 0
for grade in grades:
  total+=grade
print(total/len(grades))

75.0

In [ ]:
import numpy as np
total = np.sum(total) # numpy supports sum method
print(total/len(grades))

75.0

In [ ]:
numbers = pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    125
1     85
2    876
3     51
4    617
dtype: int64

In [ ]:
len(numbers)

10000

In [ ]:
%%timeit -n 100
Total = 0
for number in numbers:
  Total+=number
Total/len(numbers)

1.34 ms ± 43.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

69.5 µs ± 25.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
numbers.head()

0    125
1     85
2    876
3     51
4    617
dtype: int64

In [ ]:
numbers+=2
numbers.head()

0    127
1     87
2    878
3     53
4    619
dtype: int64

In [ ]:
# Series works similar to dictionaries so it is easier to unpack the values
for label, value in numbers.iteritems():
  numbers.update(value, label)
  # print("label = {} \t value = {}".format(label, value) )
numbers.head()


# Here .set value function is deprecated i guess, and it is not working.
# But I also can't understand how to use .at attribute here to update the 
# values and update() method has a totally different syntax, so i'm confused.

TypeError: ignored

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
  s.loc[label] = value+2

442 ms ± 24.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(1,1000,10000))
s+=2

330 µs ± 207 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
s = pd.Series([1,2,3])
s.loc['History'] = 102
s

0            1
1            2
2            3
History    102
dtype: int64

In [ ]:
# A Series can have different types of indices just like in above case.

students_classes = pd.Series({
    'Alice' : 'Physics',
    'Jack'  : 'Chemistry',
    'Molly' : 'English',
    'Sam'   : 'History'
})

students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [ ]:
Kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index = ['Kelly', 'Kelly', 'Kelly'])
Kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [ ]:
all_students_classes = students_classes.append(Kelly_classes)
all_students_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [ ]:
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [ ]:
all_students_classes.loc['Kelly'] # Here we get Series itself instead of a single value.

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object